In [69]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [70]:
dados = pd.read_csv(r"C:\Users\Guilh\OneDrive\Área de Trabalho\teste_01.csv",sep=";")
dados = dados.fillna(0)

In [71]:
dados[['HORAS_LOGADO','HORAS_FALANDO','%_TEMPO_FALADO']] = dados[['HORAS_LOGADO','HORAS_FALANDO','%_TEMPO_FALADO']].applymap(lambda k: float(str(k).replace(",",".")))

In [72]:
df = dados[['HORAS_LOGADO','HORAS_FALANDO','%_TEMPO_FALADO',
            '%_CONVERSAO_VENDA','RANKING','ID_AGENTE','QTDE_LINHA','QTDE_VENDA']]

In [73]:
df['%_CONVERSAO_VENDA'] = df['%_CONVERSAO_VENDA'].apply(lambda k: float(str(k).replace(",",".")))

C:\Users\Guilh\AppData\Local\Temp\ipykernel_34976\3022929941.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['%_CONVERSAO_VENDA'] = df['%_CONVERSAO_VENDA'].apply(lambda k: float(str(k).replace(",",".")))

In [74]:
df[['HORAS_LOGADO','HORAS_FALANDO','%_TEMPO_FALADO','%_CONVERSAO_VENDA']].astype(float)

    HORAS_LOGADO  HORAS_FALANDO  %_TEMPO_FALADO  %_CONVERSAO_VENDA
0           6.32           3.07            0.49               0.10
1           8.79           4.35            0.49               0.09
2           2.24           1.54            0.69               0.07
3           9.95           3.72            0.37               0.07
4           8.25           4.41            0.53               0.06
..           ...            ...             ...                ...
72          8.02           0.79            0.10               0.00
73          9.16           4.65            0.51               0.00
74          9.96           4.42            0.44               0.00
75         10.02           3.90            0.39               0.00
76         10.07           3.87            0.38               0.00

[77 rows x 4 columns]

In [75]:
df = df[['HORAS_LOGADO','HORAS_FALANDO','%_TEMPO_FALADO','%_CONVERSAO_VENDA']].astype(float)

In [76]:
y = df['%_CONVERSAO_VENDA'].apply(lambda k: float(str(k).replace(",",".")))
X = df.drop("%_CONVERSAO_VENDA",axis=1)

In [77]:
enc = OneHotEncoder(handle_unknown='ignore')

In [78]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33, random_state=42)

In [83]:
enc.fit(X_train)
X_train = enc.transform(X_train).toarray()

X_train

array([[0., 1., 1., ..., 1., 1., 0.],
       [0., 1., 1., ..., 1., 1., 0.],
       [0., 1., 1., ..., 1., 1., 0.],
       ...,
       [0., 1., 1., ..., 1., 1., 0.],
       [0., 1., 1., ..., 1., 1., 0.],
       [0., 1., 1., ..., 1., 1., 0.]])

In [ ]:
teste_arvore = DecisionTreeClassifier(criterion="entropy")
teste_arvore.fit(X_train,y_train)

In [ ]:
dados.dtypes

ID_AGENTE              int64
HORAS_LOGADO         float64
HORAS_FALANDO        float64
%_TEMPO_FALADO       float64
QTDE_VENDA             int64
QTDE_LINHA             int64
QTDE_LIGACOES          int64
%_CONVERSAO_VENDA    float64
RANKING                int64
Quartile               int64
dtype: object